<!DOCTYPE html>
<html>
<head>
    <title>Proyecto TFM Reconocer Imagen y Reproducir Audio</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <style>
        .container {
            margin-top: 50px;
        }
        .text-center {
            text-align: center;
        }
        .logo {
            margin-top: 20px;
            max-width: 200px; /* Ajusta el ancho máximo de la imagen */
            height: auto; /* Permite que la altura se ajuste automáticamente */
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="text-center">Proyecto TFM Reconocer Imagen y Reproducir Audio</h1>
        <img src="https://universidadeuropea.com/resources/media/images/universidad-europea-logo_poc9mEM.original.png" alt="Universidad Europea Logo" class="logo mx-auto d-block">
        <p class="text-center">Seleccione una imagen y luego presione "Enviar". En unos segundos recibirá la descripción de la imagen en audio para reproducir.</p>

        <form action="/generate-audio" method="POST" enctype="multipart/form-data" class="text-center">
            <div class="form-group">
                <input type="file" name="image" accept="image/*" required>
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>

        <div class="text-center mt-3">
            <audio controls id="audioPlayer">
                <source src="" type="audio/mpeg">
            </audio>
        </div>
    </div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script>
        // Obtener referencia al elemento de audio
        const audioPlayer = document.getElementById('audioPlayer');

        // Manejar la respuesta del servidor
        document.querySelector('form').addEventListener('submit', function(event) {
            event.preventDefault();  // Evitar el envío del formulario
            const formData = new FormData(this);

            fetch('/generate-audio', {
                method: 'POST',
                body: formData
            })
            .then(response => response.blob())
            .then(blob => {
                // Crear una URL para el archivo de audio y establecerlo como fuente en el reproductor de audio
                const audioURL = URL.createObjectURL(blob);
                audioPlayer.src = audioURL;
            })
            .catch(error => {
                console.error('Error:', error);
            });
        });
    </script>
</body>
</html>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="script.js"></script>
</body>
</html>







